html,
body {
  margin: 0 auto;
  height: 100%;
  background-color: #FAFAFA;
}


#banner {
  height: 50px;
  background-color: #00FFBB;
  
  background-image:
    -moz-linear-gradient(
      left,
      #05AAA3,
      #90EC8D
    );
  background-image:
    linear-gradient(
      right,
      #05AAA3,
      #90EC8D
    );
}

#main-content {
  height: 325px;
  display: flex;
  align-items: center;
}

#floating-panel {
/*  border: thin solid blue;*/
  
  background-color: #FFFFFF;
  margin: 0 auto;
  height: 275px;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 2px 6px rgba(0,0,0,0.20);
  border-top: medium solid #00FFBB;
  text-align: center;
}

#intro {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  color: rgba(42, 40, 41, .90);
  font-family: sans-serif;
}

#intro #title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

#intro #description {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#startBtn {
  margin-top: 15px;
  background-color: transparent;
  background-image:
    -moz-linear-gradient(
      right,
      #05AAA3,
      #90EC8D
    );
  border-style: none;
  width: 30%;
  height: 50px;
  
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}